/* Copyright 2021 mightbesimon | github.com/mightbesimon
 * All rights reserved.
 */

/**************************************************************
 *****              declare global variables              *****
 **************************************************************/
:root {
    /* colour palette */
    --cream      : hsl(40, 100%, 96%);
    --cream-light: hsl(40, 100%, 98%);
    --cream-dark : hsl(40,  39%, 90%);
    --coffee     : hsl(40,  14%, 62%);
    --purple     : hsl(258, 14%, 62%);
    --dark       : hsl(109,  7%, 33%);
    --green      : hsl(128, 30%, 42%);
    --green-vibr : hsl(128, 64%, 42%);
    --green2     : hsl(140, 15%, 55%);
    --green2-dark: hsl(140, 11%, 36%);

    /* shadows */
    --shadow       : rgba( 0,  0,  0, .3 );
    --shadow-blue  : rgba(50, 50, 93, .25);
    --shadow-green : hsla(128, 50%, 42%, .25);
    --shadow-purple: hsla(258, 64%, 62%, .25);
    --shadow-in: inset 1px .15rem .3rem -.1rem var(--shadow-blue), inset 1px .1rem .2rem -.1rem var(--shadow), inset -1px -1px .3rem -.1rem var(--shadow-blue), inset -1px -1px .2rem -.1rem var(--shadow);
    --shadow-nav: .3rem 0 .6rem var(--shadow-green), .2rem 0 .4rem var(--shadow);
    --shadow-current: inset .3rem .3rem .6rem -.2rem var(--shadow-blue), inset .2rem .2rem .4rem -.2rem var(--shadow);
    --shadow-hover: inset 1px .3rem .6rem -.2rem var(--shadow-blue), inset 1px .2rem .4rem -.2rem var(--shadow), inset -1px -1px .6rem -.2rem var(--shadow-blue), inset -1px -1px .4rem -.2rem var(--shadow);
    --shadow-card: 1px .6rem 1.2rem -.4rem var(--shadow-blue), 1px .4rem .8rem -.4rem var(--shadow), -1px -1px 1.2rem -.4rem var(--shadow-blue), -1px -1px .8rem -.4rem var(--shadow);
    --shadow-card2: 1px .6rem 1.2rem var(--shadow-purple), 1px .4rem .8rem var(--shadow), -1px -1px 1.2rem var(--shadow-purple), -1px -1px .8rem var(--shadow);

    /* themes */
    --nav-bg   : var(--green2-dark);
    --nav-text : white;
    --nav-hover: hsl(140, 11%, 27%);
    --main     : var(--cream );
    --text     : var(--dark  );
    --highlight: var(--green);
    --heading  : var(--green2);
    --footer   : var(--cream-dark);
    --card     : var(--cream-light);
    --border   : rgba(255, 255, 255, 0.1);
    --button   : var(--green);
    --button-hover: hsl(128, 30%, 32%);
}

/**************************************************************
 *****             override unhelpful presets             *****
 **************************************************************/
html, body {
    margin: 0;
    font-size: 1.5vw;
    background: var(--nav-bg);
    transition: all .5s ease;
}
a {
    color: inherit;
    text-decoration: inherit;
}

/**************************************************************
 *****               NAV STARTS HERE [left]               *****
 **************************************************************/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 18%;
    height: 100vh;
    background: var(--nav-bg);
}
nav h2 {
    margin: 0;
    padding: 10%;
    padding-right: 0 !important;
    height: 1.8rem;

    background: var(--nav-bg);
    color: var(--nav-text);
    transition: margin .5s, padding .5s, border .5s, background .5s, color .3s;
}
nav h2.current {
    margin-left: 5%;
    padding-left: 5%;
    border-radius: .5rem 0 0 .5rem;
    box-shadow: var(--shadow-current);
    background: var(--main);
    color: var(--text);
}
nav h2:hover {
    margin: 0;
    padding: 10%;
    padding-left: 15%;
    border-radius: 0;
    box-shadow: var(--shadow-hover);
    background: var(--nav-hover);
    color: var(--nav-text);
}

/**************************************************************
 *****              MAIN STARTS HERE [right]              *****
 **************************************************************/
main {
    padding-left: 22.5%;
    padding-right: 7.5%;
    min-height: 100vh;

    background: var(--main);
    color: var(--text);

    display: flex;
    flex-direction: column;
}
main h1 {
    font-size: 2.4rem;
    color: var(--heading);
    text-shadow: 0 0 .2rem var(--shadow);
}

/* * * * * * * * * * * * * * * * * * * * * */
/* * *           catalogue             * * */
/* * * * * * * * * * * * * * * * * * * * * */
main section.image-table {
    display: flex;
    flex-wrap: wrap;
}
/* .card */
main section.image-table div.card {
    margin: 1rem;
    flex: 1 1 20%;
    border-radius: 1rem;

    box-shadow: var(--shadow-card);
    background: var(--card);
    transition: box-shadow .3s ease;
}
main section.image-table div.card img {
    display: block;
    height: auto;
    border-radius: 1rem 1rem 0 0;
}
main section.image-table div.card div.title {
    padding: .8rem;
    border-radius: 0 0 1rem 1rem;
    font: .8rem sans-serif;
}
/* .card:hover; */
main section.image-table div.card:hover {
    /*margin: 0;*/
    /*flex: 5 1 20%;*/
    box-shadow: var(--shadow-card2);
}

/* * * * * * * * * * * * * * * * * * * * * */
/* * *           book info             * * */
/* * * * * * * * * * * * * * * * * * * * * */
main section.book-info {
    display: flex;
    align-items: flex-start;
}
main section.book-info article.info {
    flex: 3;
    margin: 1rem;
}
main section.book-info article.info h1.title {
    margin: 1rem 0 .3rem -1rem;
}
main section.book-info article.info h2.authors {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
main section.book-info article.info p.year.pages.publisher {
    margin: .5rem;
    color: var(--purple); 
    font: .8rem sans-serif;
}
main section.book-info article.info p.description {
    margin: .5rem 0 0 -1rem;
    padding: .5rem 0 .5rem 1rem;
    /*max-height: 15rem;*/
    /*overflow: auto;*/
    /*border-radius: .5rem;*/
    /*box-shadow: inset 0 1rem 1rem -1rem var(--shadow), inset 0 -1rem 1rem -1rem var(--shadow);*/
    /*background: var(--footer);*/
}
main section.book-info div.image-card {
    flex: 1;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-card);
    background: var(--card);
}
main section.book-info div.image-card img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}
main section.book-info div.image-card h5.ebook {
    margin: 1rem .5rem 0 .5rem;
    padding: .2rem;
    border-radius: .2rem;

    font-family: sans-serif;
    text-align: center;
    box-shadow: var(--shadow-in);
    background: var(--main);
    color: var(--green-vibr);
}
main section.book-info div.image-card h4.button {
    margin: 1rem 1rem 0 1rem;
    padding: .5rem;
    border-radius: 0.5rem;

    text-align: center;
    /*box-shadow: var(--shadow-card);*/
    background: var(--button);
    color: var(--nav-text);
    transition: padding .3s, box-shadow .3s, background .3s;
}
main section.book-info div.image-card h4.button:hover {
    padding-top: .6rem;
    padding-bottom: .4rem;
    box-shadow: var(--shadow-hover);
    background: var(--button-hover);
}
main section.book-info div.image-card:hover {
    /*box-shadow: var(--shadow-hover);*/
}
main section.book-info div.image-card:hover h4.button {
    box-shadow: var(--shadow-card);
}
main section.reviews h2 {
    margin: 0;
    padding-left: 1.5rem;
    border-bottom: 1px var(--shadow) solid;
    /*box-shadow: 0 .5rem .5rem -.5rem var(--shadow);*/
}
main section.reviews p.no-reviews {
    margin: 2.5rem;
    text-align: center;
}

/**************************************************************
 *****         footer, copyright information etc.         *****
 **************************************************************/
footer {
    margin-top: auto;
    margin-bottom: .35rem;
    padding: .25rem;
    padding-right: 2.5rem;
    border-radius: .25rem;

    font: .5rem sans-serif;
    text-align: right;

    box-shadow: var(--shadow-in);
    background: var(--footer);
}
