/* Copyright 2021 mightbesimon | github.com/mightbesimon
 * All rights reserved.
 */

/**************************************************************
 *****              declare global variables              *****
 **************************************************************/
:root {
    /* colour palette */
    --cream      : hsl(40, 100%, 96%);
    --cream-light: hsl(40, 100%, 98%);
    --cream-dark : hsl(40,  39%, 90%);
    --coffee     : hsl(40,  14%, 62%);
    --purple     : hsl(258, 14%, 62%);
    --dark       : hsl(109,  7%, 33%);
    --green      : hsl(128, 30%, 42%);
    --green-vibr : hsl(128, 64%, 42%);
    --green2     : hsl(140, 15%, 55%);
    --green2-dark: hsl(140, 11%, 36%);
    --red        : hsl( 2, 100%, 66%);

    /* shadows */
    --shadow       : rgba( 0,  0,  0, .3 );
    --shadow-blue  : rgba(50, 50, 93, .25);
    --shadow-green : hsla(128, 50%, 42%, .25);
    --shadow-purple: hsla(258, 64%, 62%, .25);
    --shadow-in: inset 1px .15rem .3rem -.1rem var(--shadow-blue), inset 1px .1rem .2rem -.1rem var(--shadow), inset -1px -1px .3rem -.1rem var(--shadow-blue), inset -1px -1px .2rem -.1rem var(--shadow);
    --shadow-nav: .3rem 0 .6rem var(--shadow-green), .2rem 0 .4rem var(--shadow);
    --shadow-current: inset .3rem .3rem .6rem -.2rem var(--shadow-blue), inset .2rem .2rem .4rem -.2rem var(--shadow);
    --shadow-hover: inset 1px .3rem .6rem -.2rem var(--shadow-blue), inset 1px .2rem .4rem -.2rem var(--shadow), inset -1px -1px .6rem -.2rem var(--shadow-blue), inset -1px -1px .4rem -.2rem var(--shadow);
    --shadow-card: 1px .6rem 1.2rem -.4rem var(--shadow-blue), 1px .4rem .8rem -.4rem var(--shadow), -1px -1px 1.2rem -.4rem var(--shadow-blue), -1px -1px .8rem -.4rem var(--shadow);
    --shadow-card2: 1px .6rem 1.2rem var(--shadow-purple), 1px .4rem .8rem var(--shadow), -1px -1px 1.2rem var(--shadow-purple), -1px -1px .8rem var(--shadow);

    /* themes */
    --nav-bg   : var(--green2-dark);
    --nav-text : white;
    --nav-hover: hsl(140, 11%, 27%);
    --main     : var(--cream );
    --text     : var(--dark  );
    --highlight: var(--green);
    --heading  : var(--green2);
    --footer   : var(--cream-dark);
    --card     : var(--cream-light);
    --border   : rgba(255, 255, 255, .1);
    --button   : var(--green);
    --button-hover: hsl(128, 30%, 32%);
}

/**************************************************************
 *****             override unhelpful presets             *****
 **************************************************************/
html, body {
    margin: 0;
    font-size: 1.5vw;
    background: var(--nav-bg);
    transition: all .5s ease;
}
a {
    color: inherit;
    text-decoration: inherit;
}

/**************************************************************
 *****               NAV STARTS HERE [left]               *****
 **************************************************************/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 18%;
    height: 100vh;
    /*background: var(--nav-bg);*/
    background: linear-gradient(90deg, var(--nav-bg) 50%, var(--main) 50%);
}
nav h2 {
    margin: 0;
    padding: 10%;
    padding-right: 0 !important;
    height: 1.8rem;

    background: var(--nav-bg);
    color: var(--nav-text);
    transition: margin .5s, padding .5s, border-radius .5s, background .5s, color .3s;
}
nav h2.current {
    margin-left: 5%;
    padding-left: 5%;
    border-radius: .5rem 0 0 .5rem;
    /*box-shadow: var(--shadow-current);*/
    background: var(--main);
    color: var(--text);
}
nav .before {
    border-radius: 0 0 .5rem 0;
}
nav:hover .before {
    border-radius: 0;
}
nav .after {
    border-radius: 0 .5rem 0 0;
}
nav:hover .after {
    border-radius: 0;
}
nav h2:hover {
    margin: 0;
    padding: 10%;
    padding-left: 15%;
    border-radius: 0;
    box-shadow: var(--shadow-hover);
    background: var(--nav-hover);
    color: var(--nav-text);
}
nav footer {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: var(--nav-bg);
    transition: border-radius .5s;
}

/**************************************************************
 *****              MAIN STARTS HERE [right]              *****
 **************************************************************/
main {
    padding-left: 22.5%;
    padding-right: 7.5%;
    min-height: 100vh;

    background: var(--main);
    color: var(--text);

    display: flex;
    flex-direction: column;
}
main h1 {
    font-size: 2.4rem;
    color: var(--heading);
    text-shadow: 0 0 .2rem var(--shadow);
}

/* * * * * * * * * * * * * * * * * * * * * */
/* * *           catalogue             * * */
/* * * * * * * * * * * * * * * * * * * * * */
main section.image-table {
    display: flex;
    flex-wrap: wrap;
}
/* .card */
main section.image-table div.card {
    flex: 1 1 calc(25% - 2rem);
    margin: 1rem;
    /*max-width: calc(33.3% - 2rem);*/
    max-width: 28.3%;
    border-radius: 1rem;

    box-shadow: var(--shadow-card);
    background: var(--card);
    transition: box-shadow .3s ease;
}
main section.image-table div.card img {
    display: block;
    height: auto;
    border-radius: 1rem 1rem 0 0;
}
main section.image-table div.card div.title {
    padding: .8rem;
    border-radius: 0 0 1rem 1rem;
    font: .8rem sans-serif;
}
/* .card:hover; */
main section.image-table div.card:hover {
    /*margin: 0;*/
    box-shadow: var(--shadow-card2);
}

/* * * * * * * * * * * * * * * * * * * * * */
/* * *             search              * * */
/* * * * * * * * * * * * * * * * * * * * * */
main div.title-search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main div.title-search-box form.search-box {
    padding-top: .5rem;
    display: flex;
}
main div.title-search-box form.search-box input[type='text'] {
    margin: 0;
    padding: .5rem;
    width: 20vw;
    border: 1px solid var(--shadow);
    border-right: 0;
    border-radius: .5rem 0 0 .5rem;

    font: .8rem monospace;
    background: var(--card);
    color: var(--text);
    transition: box-shadow .3s;
}
main div.title-search-box form.search-box input[type='text']:focus {
    outline: none;
    box-shadow: var(--shadow-in);
}
main div.title-search-box form.search-box input[type='submit'] {
    margin: 0;
    padding: .5rem .65rem .5rem .5rem;
    border: 0;
    border-radius: 0 .5rem .5rem 0;

    font: .8rem sans-serif;
    background: var(--button);
    color: var(--nav-text);
    transition: padding .3s, box-shadow .3s, background .3s;
}
main div.title-search-box form.search-box input[type='submit']:hover {
    padding-top: .6rem;
    padding-bottom: .4rem;
    box-shadow: var(--shadow-in);
    background: var(--button-hover);
}

main form.search-panel {
    margin-bottom: 1.8rem;
    padding: .8rem;
    border-radius: .5rem;
    box-shadow: var(--shadow-card);
    background: var(--card);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
main form.search-panel div.field {
    margin: .5rem;
}
main form.search-panel div.field input[type='text'] {
    padding: .25rem;
    border: 1px solid var(--shadow);
    width: 31.5vw;
    height: 1rem;
    border-radius: 5px;

    font: .8rem monospace;
    background: var(--nav-text);
    color: var(--text);
    transition: box-shadow .3s;
}
main form.search-panel div.field select {
    -webkit-appearance: menulist-button;
    height: calc(1.5rem + 2px);
    border: 1px solid var(--shadow);
    font-size: .8rem;
    font-variant-numeric: tabular-nums;
    background: var(--card);
    color: var(--text);
}
main form.search-panel input[type='submit'] {
    padding: .5rem;
    border: 0;
    width: 12%;
    border-radius: .5rem;

    font: .8rem sans-serif;
    background: var(--button);
    color: var(--nav-text);
    transition: padding .3s, box-shadow .3s, background .3s;
}
main form.search-panel input[type='submit']:hover {
    padding-top: .6rem;
    padding-bottom: .4rem;
    box-shadow: var(--shadow-in);
    background: var(--button-hover);
}
main p.no-results {
    margin: 2.5rem;
    text-align: center;
}

/* * * * * * * * * * * * * * * * * * * * * */
/* * *           book info             * * */
/* * * * * * * * * * * * * * * * * * * * * */
main section.book-info {
    display: flex;
    align-items: flex-start;
}
main section.book-info article.info {
    flex: 3;
    margin: 1rem;
}
main section.book-info article.info h1.title {
    margin: 1rem 0 .3rem -1rem;
}
main section.book-info article.info h2.authors {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
main section.book-info article.info p.year.pages.publisher {
    margin: .5rem;
    color: var(--purple); 
    font: .8rem sans-serif;
}
main section.book-info article.info p.description {
    margin: .5rem 0 0 -1rem;
    padding: .5rem 0 .5rem 1rem;
}
main section.book-info div.image-card {
    flex: 1;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-card);
    background: var(--card);
}
main section.book-info div.image-card img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: .5rem;
}
main section.book-info div.image-card h5.ebook {
    margin: .5rem .5rem 0 .5rem;
    padding: .2rem;
    border-radius: .2rem;

    font-family: monospace;
    text-align: center;
    box-shadow: var(--shadow-in);
    background: var(--main);
    color: var(--highlight);
}
main section.book-info div.image-card h4.button {
    margin: 1rem 1rem 0 1rem;
    padding: .5rem;
    border-radius: .5rem;

    text-align: center;
    background: var(--button);
    color: var(--nav-text);
    transition: padding .3s, box-shadow .3s, background .3s;
}
main section.book-info div.image-card h4.button:hover {
    padding-top: .6rem;
    padding-bottom: .4rem;
    box-shadow: var(--shadow-hover);
    background: var(--button-hover);
}
main section.book-info div.image-card h4.read {
    margin: 1rem 1rem 0 1rem;
    padding: calc(.5rem - 1px);
    border: 1px solid var(--shadow);
    border-radius: .5rem;

    text-align: center;
    background: var(--nav-text);
    color: var(--text);
}
main section.book-info div.image-card:hover h4.button {
    box-shadow: var(--shadow-card);
}
main section.reviews h2 {
    margin: 0;
    padding-left: 1.5rem;
    border-bottom: 1px var(--shadow) solid;
}
main section.reviews p.no-reviews {
    margin: 2.5rem;
    text-align: center;
}
main section.reviews div.review {
    margin: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--shadow);
    /*box-shadow: var(--shadow-card);*/
    background: var(--card);
    display: flex;
    align-items: stretch;
}
main section.reviews div.review div.rating {
    padding: 1rem 0 1rem 1rem;
    min-width: 7.3rem;
    /*max-width: 7.3rem;*/
    border-radius: .5rem 0 0 .5rem;
    border-right: 1px solid var(--shadow);
    background: var(--cream-dark);
}
main section.reviews div.review div.rating span.date {
    font: .75rem sans-serif;
    color: var(--shadow);
}
main section.reviews div.review div.review_text {
    padding: 1rem;
}
/* * * * * * * * * * * * * * * * * * * * * */
/* * *          write review           * * */
/* * * * * * * * * * * * * * * * * * * * * */
main section.write-review h2 {
    margin: 0 0 1rem 0;
    padding-left: 1.5rem;
    border-bottom: 1px var(--shadow) solid;
}
main section.write-review form.review div.error-box {
    margin: 1rem;
    padding: .75rem;
    padding-left: 1.5rem;
    width: calc(80% - 3.25rem);
    border-radius: .2rem;

    font: .75rem monospace;
    background: var(--red);
    color: var(--nav-text);
}
main section.write-review form.review table {
    min-width: 80%;
}
main section.write-review form.review table td.rating {
    padding-bottom: .8rem;
}
main section.write-review form.review table td.field {
    font: .8rem sans-serif;
}
main section.write-review form.review span.required {
    font: .8rem monospace;
    color: var(--red);
}
main section.write-review form.review textarea {
    box-sizing: border-box;
    padding: .5rem;
    height: 6rem;
    width: 100%;
    border-color: var(--shadow);
    border-radius: .25rem;

    font: .8rem monospace;
    background: var(--card);
    color: var(--text);
    transition: box-shadow .3s;
}
main section.write-review form.review textarea:focus {
    outline: none;
    box-shadow: var(--shadow-in);
}
main section.write-review form.review input[type='submit'] {
    float: right;
    margin-bottom: 1rem;
    padding: .5rem;
    width: 25%;
    border: 1px solid var(--shadow);
    border-radius: .5rem;

    font-size: 1rem;
    text-align: center;
    box-shadow: var(--shadow-card);
    background: var(--button);
    color: var(--nav-text);
    transition: padding .3s, box-shadow .3s, background .3s;
}
main section.write-review form.review input[type='submit']:hover {
    padding-top: .6rem;
    padding-bottom: .4rem;
    box-shadow: var(--shadow-hover);
    background: var(--button-hover);
}

/* * * * * * * * * * * * * * * * * * * * * */
/* * *          credentials            * * */
/* * * * * * * * * * * * * * * * * * * * * */
main section.kia-ora {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -60%);
}
main section.kia-ora h1 {
    margin: 0;
    margin-bottom: .5rem;
    text-align: center;
    text-shadow: none;
    color: var(--text);
}
main section.kia-ora form.credentials {
    padding: 1rem;
    width: 30vw;
    border-radius: 1rem;

    font: .8rem monospace;
    box-shadow: var(--shadow-card);
    background: var(--card);

    display: flex;
    flex-direction: column;
    align-items: center;
}
main section.kia-ora form.credentials h5 {
    margin: 0;
    align-self: flex-start;
    font-family: sans-serif;
}
main section.kia-ora form.credentials h5 i {
    font-style: italic;
    color: var(--highlight);
}
main section.kia-ora form.credentials ul.error-box {
    margin: 0;
    padding: .75rem;
    padding-left: 1.5rem;
    border-radius: .2rem;
    min-width: 80%;
    font-size: .8rem;
    background: var(--red);
    color: var(--nav-text);
}
main section.kia-ora form.credentials div.field {
    margin-top: 1rem;
}
main section.kia-ora form.credentials span.required {
    color: var(--red);
}
main section.kia-ora form.credentials input[type='text'],
main section.kia-ora form.credentials input[type='password'] {
    padding: .2rem;
    width: 20vw;
    border: 0;
    border-radius: .2rem;
    font-size: 1rem;
    box-shadow: var(--shadow-in);
    background: var(--main);
    color: var(--text);
}
main section.kia-ora form.credentials input[type='submit'] {
    margin-top: 1rem;
    padding: .5rem;
    width: 15vw;
    border: 0;
    border-radius: .5rem;

    font-size: 1rem;
    text-align: center;
    box-shadow: var(--shadow-card);
    background: var(--button);
    color: var(--nav-text);
    transition: padding .3s, box-shadow .3s, background .3s;
}
main section.kia-ora form.credentials input[type='submit']:hover {
    padding-top: .6rem;
    padding-bottom: .4rem;
    box-shadow: var(--shadow-hover);
    background: var(--button-hover);
}
main section.kia-ora form.credentials div.question {
    margin-top: .6rem;
    font-size: .5rem;
}
main section.kia-ora form.credentials div.question a {
    font-style: italic;
    color: var(--highlight);
}

/**************************************************************
 *****         footer, copyright information etc.         *****
 **************************************************************/
main footer {
    margin-top: auto;
    margin-bottom: .35rem;
    padding: .25rem;
    padding-right: 2.5rem;
    border-radius: .25rem;

    font: .5rem sans-serif;
    text-align: right;

    box-shadow: var(--shadow-in);
    background: var(--footer);
}
